.faculty{
    border: 1px solid grey;
    padding: 5px 10px;
    margin: 3px 0;
}

/*  ----------- FOOTER ---------- */
footer{
    position:relative;
    margin: 0 auto;
    font-size: 10px;
    float:right;
}