*{
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-family: sans-serif;
	background: #ddd;
}

a {
	color: #999;
	text-decoration: none;
}

a:hover {
	color: #1dabb8;
}

input {
	outline: none;
	-webkit-appearance: none;
}

header{
	padding: 20px;
	background-color: #282830;
	border-radius: 15px 15px 0 0;
	text-transform: uppercase;
}

ul{
	float: right;
}

ul li{
	float: left;
}

ul li:first-child{
	border-right: 1px solid #fff
}

ul li input[type="submit"]{
	display: block;
	padding: 0 5px;
	font-size: 14px;
	color: #fff
}

ul li input[type="submit"]:hover{
	text-decoration: underline;
}

h1{
	text-align: center;
	color: #fff;
	font-size: 14px;
	padding-left: 55px;
	text-transform: uppercase;
}

input {
	outline: none;
	-webkit-appearance: none;
}

input[type="submit"] { 
	cursor: pointer; 
}

.clearfix { 
	*zoom: 1;
}

.clearfix:before, .clearfix:after {
	content: "";
	display: table;	
}
.clearfix:after { 
	clear: both; 
}

/* ---------- LOGIN-FORM ---------- */

#login-form {
	margin: 150px auto;
	width: 300px;
}


#login-form>fieldset {
	background: #fff;
	border-radius: 0 0 5px 5px;
	padding: 20px;
	position: relative;
}

#login-form>fieldset input {
	font-size: 14px;
}

#login-form input[type="email"],
#login-form input[type="password"] {
	border: 1px solid #dcdcdc;
	padding: 12px 10px;
	width: 260px;
}

#login-form input[type="email"] {
	border-radius: 3px 3px 0 0;
}

#login-form input[type="password"] {
	border-top: none;
	border-radius: 0px 0px 3px 3px;
}

#login-form>fieldset input[type="submit"] {
	border-radius: 3px;
	float: right;
	font-weight: bold;
	margin-top: 20px;
	padding: 12px 20px;
	color: #fff;
	cursor: pointer;
	background: #1dabb8; /* Old browsers */
	background: -moz-linear-gradient(top,  #1dabb8 0%, #1dabb8 75%, #0c8a9b 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #1dabb8 0%,#1dabb8 75%,#0c8a9b 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #1dabb8 0%,#1dabb8 75%,#0c8a9b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1dabb8', endColorstr='#1dabb8',GradientType=0 ); /* IE6-9 */

}

#login-form>fieldset input[type="submit"]:hover {
	background: #198d98; 
}

.info {
	float: left;
	margin-top: 30px;
	display: block;
}

/* ---------- ERROR ---------- */
.error {
	color: red;
	margin: -140px auto;
	width: 300px;
	font-size: 14px;
}

/* ----------- RU/EN ---------- */
.locale{
	padding:0;
	background: none;
}

.locale>input[type="submit"]{
	padding: 0 5px;
	font-size: 14px;
	background: none;
	color: #fff;
}

.locale>input[type="submit"]:hover{
	text-decoration: underline;
	background: none;
}


/*  ----------- FOOTER ---------- */
footer{
	position:relative;
	margin-top:120px;
	margin-right: 10px;
	font-size: 10px;
	float:right;
}