*{
	margin:0;
	padding: 0;
}

body {
	background-color: #ffffff;
	max-width: 1349px;
	margin: auto;
}
.clearfix {
	clear:both;
}

/* HEADER */

header{
	margin-top: 30px;
	width: 960px;
	max-width: 960px;
	min-width: 950px;
	margin:auto;
}
header p:first-child {
	padding-left: 0px;
	margin-top: 15px;
}
header p a {
	color: #404040;
	font: bold  35px bebasneue;
	text-decoration: none;
}
header p{
	color: #404040;
	font: normal 14.5px Arial;
	width: 220px;
	padding-left: 5px;
}
nav ul{
	margin-top: -90px;
	float: right;
}
@font-face {
    font-family: helvetica;
    src: url(../../fonts/Helvetica.ttf);
}
nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 55px 10px 5px 10px;
	margin-left: 10px;
	color: #404040;
	font : normal 16px helvetica;
}
nav ul li:hover {
	background-color: #198d98;
	color: #ffffff;
}

nav ul li form>input[type="submit"] {
	color: #404040;
    font: normal 16px helvetica;
    background-color: #fff;
    border: 0;
}

nav ul li form>input[type="submit"]:hover {
	color: #fff;
    font: normal 16px helvetica;
    background-color: transparent;
    border: 0;
}

/*  LOGOUT  */
header>div>form>input[type="submit"] {
	border:0;
	border-radius: 3px;
	font-weight: bold;
	margin-top: 5px;
	padding: 5px 20px;
	color: #fff;
	cursor: pointer;
	background: #1dabb8; /* Old browsers */
	background: -moz-linear-gradient(top,  #1dabb8 0%, #1dabb8 75%, #0c8a9b 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #1dabb8 0%,#1dabb8 75%,#0c8a9b 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #1dabb8 0%,#1dabb8 75%,#0c8a9b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1dabb8', endColorstr='#1dabb8',GradientType=0 ); /* IE6-9 */

}

header>div>form>input[type="submit"]:hover {
	background: #198d98; 
}


/*  CONTENT  */
.content {
	
}
.comment {
	z-index: auto;
	width: 944px;
	height: 200px;
	background-color: #fff;
	background-image: url("../../img/ten2.png");
    background-repeat: no-repeat;
    background-position-y: 141px;
	margin: auto;
	margin-top: 50px;
}
.comment img {
	margin-top: 10px;
	margin-left: 49%;
}
.comment p {
	z-index: auto;
	width: 500px;
	font: italic 22px Cambria;
	color: #404040;
	padding: 20px 250px 20px;
	text-align: center;
}
.content > section {
	width: 960px;
	max-width: 960px;
	min-width: 950px;
	margin:auto;
}
.content > section h1 {
	margin: 50px 0 0 0;
	font: italic 22px Cambria;
	color: #404040;
	margin-bottom: 50px;
}

.content > section img {
	width: 203px;
	margin-left: 40px;
	margin-bottom: 40px;
}
#picture1, #picture5, #picture9{
	margin-left: 0;
}


/*  FCULTY  */
.faculty{
	padding: 10px 20px;
	margin: 15px;
	width: 45%;
	border-radius: 5px;
	border: solid 3px #1dabb8;
}

.faculty p {
	font: normal 16px helvetica;
	line-height: 35px;
}

.faculty>form>input[type="submit"] {
	border:0;
	border-radius: 3px;
	font-weight: bold;
	margin-top: 5px;
	padding: 5px 20px;
	color: #fff;
	cursor: pointer;
	background: #1dabb8; /* Old browsers */
	background: -moz-linear-gradient(top,  #1dabb8 0%, #1dabb8 75%, #0c8a9b 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #1dabb8 0%,#1dabb8 75%,#0c8a9b 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #1dabb8 0%,#1dabb8 75%,#0c8a9b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1dabb8', endColorstr='#1dabb8',GradientType=0 ); /* IE6-9 */

}

.faculty>form>input[type="submit"]:hover {
	background: #198d98; 
}

/*  FOOTER  */
footer {
	margin-top: 110px;
	position:relative;
	margin-right: 70px;
	font-size: 10px;
	float:right;
}

.main div {
	margin-bottom: 5px;
}

section>form>input[type="submit"] {
	border:0;
	border-radius: 3px;
	font-weight: bold;
	margin-top: 5px;
	padding: 5px 20px;
	color: #fff;
	cursor: pointer;
	background: #1dabb8; /* Old browsers */
	background: -moz-linear-gradient(top,  #1dabb8 0%, #1dabb8 75%, #0c8a9b 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #1dabb8 0%,#1dabb8 75%,#0c8a9b 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #1dabb8 0%,#1dabb8 75%,#0c8a9b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1dabb8', endColorstr='#1dabb8',GradientType=0 ); /* IE6-9 */

}

section>form>input[type="submit"]:hover {
	background: #198d98;
}